html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #27293a;
}


#main-holder {
  width: 50%;
  height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url("images/logo.png");
  background-position: top;
  background-color: #cccccc;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
* {
    box-sizing:border-box;
  }
  
  .form {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,10%);
    width:300px;
    background:#f5f5f5;
  }
  .form .tab-header {
    height:50px;
    line-height:50px;
  }
  .form .tab-header > div {
    width:50%;
    float:left;
    text-align:center;
    background:#ddd;
    color:#555;
    cursor:pointer;
  }
  .form .tab-header > div.active {
    background:#f5f5f5;
    color:#111;
  }
  .form .tab-content {
    padding:20px;
  }
  .form .tab-content .form-element {
    margin:10px 0px;
  }
  .form .tab-content .form-element input {
    width:100%;
    padding:10px;
    border:1px solid #aaa;
    font-size:16px;
    background:#f5f5f5;
    border-radius:5px;
    outline:none;
  }
  .form .tab-content .form-element input[type="checkbox"] {
    width:30px;
    margin:8px 0px;
    margin-left:-5px;
  }
  .form .tab-content .form-element label {
    color:#111;
  }
  .form .tab-content .form-element button {
    margin-top:5px;
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    background:#00acee;
    color:#f5f5f5;
    font-size:16px;
    text-transform:uppercase;
    cursor:pointer;
    border-radius:5px;
  }
  .form .tab-content > div.active {
    display:block;
  }
  .form .tab-content > div {
    display:none;
  }


header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:lightsalmon;
    padding: 9px;
}


nav a:visited, 
nav a:link{
    color: #fff;
    text-decoration: none;
}
nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 10px;
}
h1{
    color: ivory;
    font-size: 3em;
    margin-top: -7em;
}

.sub-title{
    color: ivory;
    text-align: center;
    font-size: 3em;
    padding: 1px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 9px;
   background-color: grey;
   color: white;

}
aside{
    position: fixed;
    left: 0;
    top: 0;
    padding: 5em; 

}
article{
    width: 75%;
}
p{
    color: ivory;
    font-size: 2em;
    padding: 2px;
    margin: 0.5em 0 0.5em 0;
}




